.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
}

.progressBar {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s ease;
  color: var(--text);
  border-radius: 3px;
  font-weight: bold;
}

.label {
  padding: 0 8px;
  font-size: 14px;
}
