.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  padding: 4px;
  border-radius: 4px;
  margin: 15px 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button svg {
  width: 20px;
  height: 20px;
}

.button:hover {
  filter: brightness(80%);
}

.yellow {
  background: #b78a05d3; /* Indica alerta (amarelo) */
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
